/* scan.css */

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #74ebd5, #ACB6E5); /* Gradient background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 600px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    color: #007BFF; /* Blue color for headings */
    text-align: center;
}

input[type="text"],
input[type="number"],
button {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="text"],
input[type="number"] {
    padding: 10px;
}

button {
    background-color: #007BFF; /* Blue background color for buttons */
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

#patientInfo {
    margin-top: 20px;
    display: none;
}

#patientInfo h2 {
    color: #007BFF; /* Blue color for headings */
    margin-bottom: 10px;
}

#patientForm div {
    margin-bottom: 10px;
}

#patientForm label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}
